
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(1000deg,#0380ed, #a804da);
}

nav {
    position: sticky;
    display: flex;
    border: 1px solid #a804da;
    box-shadow: 0 0 40px #111;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;

}

.navlogo h1 {
    font-size: 2.5rem;
    text-shadow: 4px 5px #000; 
}
.nav-links ul{
    margin:auto;
    display: flex;
    justify-content: space-around;
    gap: 2.5rem;
}
.nav-links ul li {
    font-size: 1.1em;
    list-style-type: none;
}
.nav-links a{
    position: relative;
    text-decoration: none;
    color: #fff;
}

.nav-links a:hover{
    border: 1px solid #000;
}

.cart .cart-btn{
    padding: 1rem 2rem;
    background-color: rgb(2, 234, 95);
    color: #111;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cart-btn:hover {
    box-shadow: 5px 5px 0 #111;
}